body {
    display: block;
    width: 100%;
    background-color: white;
    height: auto;
}
a {
text-decoration: none  ;
}
.tablet-mobile {
    display: none;
}
.content {
display: block;
display: flex;
width: 1260px;
margin-left: auto;
margin-right: auto;
background-color: #D9D9D9;
height: auto;

}
.content-trai {
display: block;
width: 250px;
background-color: white;
}
.content-trai .logo {
display: block;
width: 198px;
height: 115px;
align-items: center;
text-align: center;
}
.sub-logo {
display: block;
display: flex;
width: 198px;
margin-top: 55px;
}
.content-trai .sub-logo a {
font-size: 20pt;
font-family: 'Poppins', sans-serif;
color: black;
margin-left: 20px;

}
.content-trai .sub-logo img {
margin-left: 10px;
}
.content .content-phai .title h1{
    font-size: 30pt;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 60px;
}
.content .content-phai {
    margin-left: 25px;
}
.content .content-phai .title p {
    font-size: 15pt;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.content .content-phai .thanhngang {
    display: block;
    content: "";
    width: 930px;
    height: 3px;
    background: black;
    margin-top: 10px;
}
.content .content-phai .sanpham .sanpham1 {
    display: block;
    width: 260px;
    height: 300px;
    background: white;
    border-radius: 10px;
    margin-top: 40px;
}
.content .content-phai .sanpham .sanpham1 .sanpham1-title {
    display: flex;
    justify-content: space-between;

}
.content .content-phai .sanpham .sanpham1 .sanpham1-title p {
    font-family: 'Poppins', sans-serif;
    font-size: 13pt;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
}
.content .content-phai .sanpham .sanpham1 .sanpham1-title img {
    margin-top: 5px;
}
.content .content-phai .sanpham .sanpham1 .price {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
}
.content .content-phai .sanpham .sanpham1 .price .gia {
    display: flex;
}
.content .content-phai .sanpham .sanpham1 .price .gia p {
    font-family: 'Poppins', sans-serif;
    font-size: 13pt;
    font-weight: 600;
    margin-top: 10px;
    color: #7D3939;
    margin-left: 5px;
}
.content .content-phai .sanpham .sanpham1 .price .gia img {
    display: block;
    width: 21px;
    height: 21px;
    object-fit: cover;
    margin-top: 5px;
}
.content .content-phai .sanpham .sanpham1 .price .review {
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    margin-top: 10px;
    color: #AFAFAF;
    margin-left: 5px;
}
.content .content-phai .sanpham .sanpham1 .mua {
    display: block;
    display: flex;
    width: 94px;
    height: 25px;
    border-radius: 10px;
    background: #FCE340;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 160px;
}
.content .content-phai .sanpham .sanpham1 .mua img {
    display: block;
    width: 19px;
    height: 19px;
    object-fit: cover;
    margin-top: 3px;
    margin-left: 3px;
}
.content .content-phai .sanpham .sanpham1 .mua p {
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 5px;
}
.flex-sanpham {
    display: flex;
    justify-content: space-between;
}
.content .content-phai .title2 h1{
    font-size: 30pt;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 60px;
}
.content .content-phai .title2 p {
    font-size: 15pt;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.content .content-phai .baoquanda {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.content .content-phai .baoquanda .trai {
    display: block;
    width: 400px;
}
.content .content-phai .baoquanda .trai h1 {
    font-size: 28pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    line-height: 1.3;
}
.content .content-phai .baoquanda .trai p {
    margin-top: 10px;
    font-size: 16pt;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #5F5B53;
    line-height: 1.3;
}
.content .content-phai .baoquanda .phai {
    margin-top: 50px;
}
.mobile {
    display: none;
}
.icon {
    display: none;
}
.content .content-phai .sanpham .sanpham1:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
a:hover{
    color: black;
    text-decoration: underline;
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
    body {
        margin: 0 auto;
        background-color: #D9D9D9   ;
    }
    .content-trai{
        display: block;
        width: 250px;
    }
    .content-phai{
        display: block;
        width: 700px;
    }
    .flex-sanpham {
        display: flex;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 20px;
        justify-content: space-between;
    }
    .baoquanda {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .baoquanda .trai h1{
        width: 600px;
    }
    .baoquanda .trai p {
        width: 600px;
    }
    .baoquanda .phai{
        top: 0;
        margin-top: 10px;
    }
    .baoquanda .phai img {
        width: 608px;
    }
    .content-pc {
        display: none;
    } 
    .tablet-mobile {
        display: block;
    }
}
@media only screen and (max-width: 799px) {
    body {
        width: 500px;
        background-color: #D9D9D9;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .content-trai .mobile {
        height: 2500px;
    }
    .pc {
        display: none;
    }
    .icon {
        display: block;
        margin-top: 10px;
    }
    .mobile {
        display: block;
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(0);
    }
    .icon img {
        display: block;
        width: 35px;
        margin-top: 10px;
        margin-left: 30px;
    }
    .content-trai {
        display: none; 
    }
    
    .content-trai.show {
        display: block;
    }
    .content-trai .mobile .nav__mobile .close img {
        width: 35px;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
    }
    .Home-content-phai .title .thanhngang {
        width: 700px;
        height: 3px;
        background: black;
        margin-top: 5px;
    }
    .Home-content-phai .title .sub-title p {
        width: 700px;
        font-size: 18pt;
        font-weight: normal;
        font-family: 'Poppins', sans-serif;
        line-height: 1.3;
    }
    .Home-content-phai .title .sub-title p strong {
        font-size: 24pt;
        font-weight: bold;
    }
    .Home-content-phai .title .sub-title ul {
        width: 700px;
    }
    
    .Home-content-phai .title .content1 {
        width: 700px;
        margin-top: 20px;
    }
    
    .Home-content-phai .title .content1 p {
        font-size: 22pt;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        line-height: 1.3;
    }
    .Home-content-phai .title .sub-content1 {
        margin-top: 30px;
    }
    
    .Home-content-phai .title .content2 {
        margin-top: 30px;
        width: 700px;
    }
    
    .Home-content-phai .title .content2 p {
        font-size: 22pt;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        line-height: 1.3;
    }
    
    .Home-content-phai .title .content2 p strong {
        font-weight: 600;
    }
    .Home-content-phai img {
        width: 700px;
    }
    .content-trai .mobile .nav__mobile .close img {
        width: 35px;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
    }



    .content-phai{
        display: block;
        width: 700px;
    }
    .content-pc {
        display: none;
    }
    .tablet-mobile {
        display: block;
    }
    .flex-sanpham {
        display: flex;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 20px;
        justify-content: space-between;
    }
    .baoquanda {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .baoquanda .trai h1{
        width: 600px;
    }
    .baoquanda .trai p {
        width: 600px;
    }
    .baoquanda .phai{
        top: 0;
        margin-top: 10px;
    }
    .baoquanda .phai img {
        width: 608px;
    }
}